{% extends "base.html" %}

{% block content %}

<h2>
    📦 Entrada de Mercadorias
</h2>

<form method="POST">

    <label>
        Código de Barras
    </label>
<label>
    Fornecedor
</label>

<select
    name="fornecedor_id"
    required
>

    <option value="">
        Selecione
    </option>

    {% for fornecedor in fornecedores %}

    <option value="{{ fornecedor.id }}">
        {{ fornecedor.nome }}
    </option>

    {% endfor %}

</select>

<br><br>
    <input
        type="text"
        name="codigo"
        id="codigo"
        autofocus
        required
    >

    <div id="produto-info"></div>

    <br>

    <label>
        Quantidade Recebida
    </label>

    <input
        type="number"
        name="quantidade"
        required
    >

    <br><br>

    <label>
        Observação
    </label>

    <textarea
        name="observacao"
        placeholder="Fornecedor, nota fiscal..."
    ></textarea>

    <br><br>

    <button
        type="submit"
        class="azul"
    >
        Registrar Entrada
    </button>

</form>

<script>

document
.getElementById("codigo")
.addEventListener("change", function() {

    let codigo = this.value;

    fetch(
        "/buscar_produto_entrada?codigo=" +
        codigo
    )

    .then(
        response => response.json()
    )

    .then(data => {

        let div = document.getElementById(
            "produto-info"
        );

        if(data.encontrado){

            div.innerHTML = `
                <br>
                <div style="
                    background:#d4edda;
                    padding:10px;
                    border-radius:5px;
                    margin-top:10px;
                ">
                    ✅ <b>${data.nome}</b>
                    <br>
                    Estoque Atual:
                    ${data.estoque}
                </div>
            `;

        } else {

            div.innerHTML = `
                <br>
                <div style="
                    background:#f8d7da;
                    padding:10px;
                    border-radius:5px;
                    margin-top:10px;
                ">
                    ❌ Produto não cadastrado
                </div>
            `;

        }

    });

});

</script>

{% endblock %}