{% extends "base.html" %}

{% block content %}

<h2>
    📋 Histórico de Entradas
</h2>

<table>

    <tr>
        <th>Data</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Observação</th>
    </tr>

    {% for entrada, nome_produto in entradas %}

    <tr>

        <td>
            {{ entrada.data.strftime("%d/%m/%Y %H:%M") }}
        </td>

        <td>
            {{ nome_produto }}
        </td>

        <td>
            {{ entrada.quantidade }}
        </td>

        <td>
            {{ entrada.observacao }}
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}