{% extends "base.html" %}

{% block content %}

<h1>

    ➕ Nova Reserva

</h1>

<div class="card">

    <form method="POST">

        <label>
            Cliente
        </label>

        <input
            type="text"
            name="cliente"
            required
        >

        <br><br>

        <label>
            Valor Total
        </label>

        <input
            type="number"
            step="0.01"
            name="valor_total"
            required
        >

        <br><br>

        <label>
            Valor Entrada
        </label>

        <input
            type="number"
            step="0.01"
            name="valor_entrada"
            required
        >

        <br><br>

        <label>
            Data Retirada
        </label>

        <input
            type="date"
            name="retirada"
        >

        <br><br>

        <label>
            Observação
        </label>

        <textarea
            name="observacao"
        ></textarea>

        <br><br>

        <button
            class="azul"
            type="submit"
        >

            Salvar Reserva

        </button>

    </form>

</div>

{% endblock %}