{% extends "base.html" %}

{% block content %}

<h1>

    📦 Reservas

</h1>
<div
    style="
        margin-bottom:20px;
    "
>

    <a
        href="/nova_reserva"
        class="azul"
        style="
            padding:12px 20px;
            text-decoration:none;
            border-radius:10px;
            color:white;
            display:inline-block;
        "
    >

        ➕ Nova Reserva

    </a>

</div>

<div class="card">

    <h3>
        Reservas Cadastradas
    </h3>

    <br>

    {% if reservas %}

        <table>

            <tr>

                <th>ID</th>

                <th>Cliente</th>

                <th>Valor Total</th>

                <th>Status</th>

            </tr>

            {% for reserva in reservas %}

            <tr>

                <td>
                    {{ reserva.id }}
                </td>

                <td>
                    {{ reserva.cliente }}
                </td>

                <td>
                    R$ {{ reserva.valor_total }}
                </td>

                <td>
                    {{ reserva.status }}
                </td>

            </tr>

            {% endfor %}

        </table>

    {% else %}

        <p>
            Nenhuma reserva cadastrada.
        </p>

    {% endif %}

</div>

{% endblock %}